@media (max-width: 600px) {
  article {
    columns: 1;
    padding: 20px;
    border-radius: 20px;
  }

  .analysis-text {
    width: 100%;
    columns: 1;
    padding: 1rem;
  }

  blockquote {
    flex: 1 1 100%;
  }

  h1 {
    font-size: 2em;
    text-align: center;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.2em;
  }

  h4 {
    font-size: 1em;
  }

  .screenshots {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1rem;
    justify-items: center;
  }

  nav > ul {
    display: flex; 
    flex-direction:row;
    padding: 10%;
    gap: 0.5rem;
  }

  nav > ul > blockquote {
    margin: 0.2em;
  }

  .header-arrow {
    height: 3em;
    width: 3em;
    font-size: 0.8em;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  blockquote {
    flex: 1 1 100%;
  }
  .screenshots {
    grid-template-columns: repeat(2, 1fr);
  }

  nav > ul {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10%;
    gap: 0.5rem;
  }

  nav > ul > blockquote {
    flex: 1 1 40%;
  }

  h1 {
    font-size: 3em;
  }

  .header-arrow {
    height: 3.5em;
    width: 3.5em;
  }
}

@media (min-width: 901px) {
  .analysis-text {
    columns: 2;
    column-gap: 2rem;
  }
  blockquote {
    flex: 1 1 100%;
  }

  .screenshots {
    grid-template-columns: repeat(3, 1fr);
  }

  nav > ul {
    flex-direction: row;
    justify-content: center;
    padding: 5%;
  }

  .header-arrow {
    height: 4em;
    width: 4em;
  }
}

@media (min-width: 768px) {
  article {
    padding: 2rem 3rem;
  }

  blockquote {
    flex-direction:row; 
    
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.2rem;
  }
}


